{% extends 'Users/base.html' %} {% block content %}

<h2>Bookings</h2>
<table>
  <thead>
    <tr>
      <th>SNo</th>
      <th>Start</th>
      <th>End</th>
      <th>Booking time</th>
      <th>Person</th>
      <th>Status</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <tr>
      <td>{{booking.id}}</td>
      <td>{{booking.slot.timeStart}}</td>
      <td>{{booking.slot.timeEnd}}</td>
      <td>{{booking.bookingTime}}</td>
      <td>{{booking.booker}}</td>
      <td>{{booking.status}}</td>
      <td><a href="{% url 'booking-detail' booking.id %}">Booking</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
